<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style=" margin: auto;
width: 50%;
border: 3px solid green;
padding: 10px;">

<form  method="GET">
    <p>{{ buat_kegiatan}}</p>
    <p>{{ form_peserta }}</p>
    <input type='submit' value="Buat">
</form>

<div class="container" style="width:100%; margin:0px">
    <h2>Kegiatan</h2> 
    {% for kegiatan, list_nama_peserta in output %}          
    <table class="table table-bordered">
    <thead>  
        <tr>
          <th>{{kegiatan}}</th>
        </tr>
      </thead>
    {% for peserta in list_nama_peserta %}
      <tbody>     
        <tr>
            <td>{{peserta}}</td>
        </tr>     
      </tbody>
      {% endfor %}  
    </table>
    {% endfor %}

  </div>
  